[[extend 'layout.html']]

<div id="vue-target">
  <section class="section">
    <div class="title">Calls</div>
    <div><button @click="axios_call" class="button is-primary">Axios Server Call</button></div>
    <div><button @click="xmlhr_call" class="button is-warning">XMLHttpRequest Server Call</button></div>
    <div><button @click="promise_call" class="button is-danger">Promise-based Server Call</button></div>

  </section>

  <section class="section">
    <div class="title">Output</div>
    <p>{{output}}</p>
  </section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let callback_url = "[[=XML(callback_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]